* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
:root {
  --blue: #4f46e5;
  --navy: #073461;
  --lightgray: #f0f0f0;
  --teal: #008080;
  --tealLight: #0cdbdb;
}
html,
body {
  height: 100%;
  margin: 0;
}
body {
  background-color: var(--lightgray);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  width: 100%;
  background-color: var(--navy);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.61);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 0 2%;
}

header img {
  width: 60px;
  cursor: pointer;
}
nav {
  display: flex;
  gap: 20px;
}
nav a {
  text-decoration: none;
  color: var(--lightgray);
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 600;
}
nav a:hover {
  color: var(--tealLight);
}
header .rightSection {
  display: flex;
  gap: 10px;
}
header .rightSection button {
  padding: 8px;
  background-color: transparent;
  border-radius: 6px;
  font-size: 16px;
  color: white;
  border: 2px solid white;
  font-weight: 600;
}
header .rightSection button:hover {
  cursor: pointer;
}
header .rightSection button:active {
  transform: scale(0.99);
  border: 2px solid var(--tealLight);
}
.container {
  width: 350px;
  height: auto;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: white;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 16px;
}
.container .header {
  text-align: center;
}
.container .header p {
  color: rgb(107, 114, 128, 1);
}
.container span {
  color: var(--navy);
}
.inputs {
  display: flex;
  flex-direction: column;
}
.inputs label {
  display: block;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 7px;
  font-weight: 600;
}
.inputs input {
  padding: 10px 0px;
  padding-left: 8px;
  width: 100%;
  font-size: 14px;
  border: 0.5px solid rgb(107, 114, 128, 1);
  border-radius: 5px;
}
.inputs input:focus {
  outline: none;
  border: 2px solid var(--navy);
}
.header {
  text-align: center;
}
.qr {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed rgb(200, 200, 200);
  border-radius: 5px;
  padding: 6px;
}
.qr img {
  height: 200px;
  transition: 2s ease-in;
}
.btn {
  display: flex;
  justify-content: center;
}
.btn button {
  background-color: var(--teal);
  color: white;
  width: 100%;
  padding: 10px 0px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.btn button:after {
  content: "";
  position: absolute;
  height: 10%;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #046969;
}
.btn button:active {
  transform: scale(0.98);
  background-color: #116969;
}
.error {
  animation: shake 0.1s linear 10;
}
@keyframes shake {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0px);
  }
}
footer {
  background-color: var(--navy);
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.61);
  padding: 10px;
  color: white;
  gap: 5px;
}

footer a {
  text-decoration: none;
  color: white;
  font-weight: 550;
}
footer a:hover {
  color: var(--tealLight);
}

@media screen and (max-width: 600px) {
  nav {
    gap: 6px;
    font-size: 10px;
  }
  header img {
    width: 40px;
  }
  nav a {
    font-size: 10px;
  }
  header .rightSection button {
    padding: 2px;
    border-radius: 6px;
    font-size: 10px;
  }
  .container .header p {
    font-size: 9px;
  }
  header .rightSection {
    gap: 5px;
  }
  .container {
    width: 300px;
  }
  footer p,
  a {
    font-size: 8px;
  }
}
