* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
:root {
  --blue: #4f46e5;
}
body {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
nav {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  height: 50px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.61);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
nav .leftSection {
  display: flex;
  width: clamp(100px, 100%, 200px);
  padding-left: 1rem;
}
nav .leftSection img {
  width: 50px;
  cursor: pointer;
}
nav .middleSection {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  column-gap: 30px;
  flex: 1;
}
nav .middleSection a {
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  font-size: clamp(1rem, 1vw, 2rem);
  font-weight: 600;
}
nav .middleSection a:hover {
  color: var(--blue);
}
nav .rightSection {
  width: clamp(100px, 100%, 200px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
nav .rightSection button {
  padding: 5px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 5px;
  font-size: clamp(0.7rem, 1rem, 1.1rem);
}
nav .rightSection button:hover {
  cursor: pointer;
}
nav .rightSection button:active {
  transform: scale(0.99);
  border: 2px solid var(--blue);
}
.container {
  width: 350px;
  height: auto;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 1rem;
}
.container .header {
  text-align: center;
}
.container .header p {
  color: rgb(107, 114, 128, 1);
}
.container span {
  color: var(--blue);
}
.inputs {
  display: flex;
  flex-direction: column;
}
.inputs label {
  display: block;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 0.4rem;
}
.inputs input {
  padding: 0.7rem 0rem;
  padding-left: 0.4rem;
  width: 100%;
  font-size: 1rem;
  border: 0.5px solid rgb(107, 114, 128, 1);
  border-radius: 5px;
}
.inputs input:focus {
  outline: none;
  border: 2px solid var(--blue);
}
.header {
  text-align: center;
}
.qr {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed rgb(200, 200, 200);
  border-radius: 5px;
  padding: 0.5rem;
}
.qr img {
  height: 200px;
  transition: 1s ease-in;
}
.btn {
  display: flex;
  justify-content: center;
}
.btn button {
  background-color: var(--blue);
  color: white;
  width: 100%;
  padding: 0.5rem 0rem;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 5px;
}
.btn button:active {
  transform: scale(0.98);
  background-color: #2e25dc;
}
.error {
  animation: shake 0.1s linear 10;
}
@keyframes shake {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0px);
  }
}
