* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --blue: #4f46e5;
}
body {
  background-color: white;
  height: 1000px;
}
nav {
  display: flex;
  width: 100%;
  background-color: white;
  color: black;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 0.6rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.4);
}
nav .leftSection {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .leftSection img {
  width: 60px;
  height: 50px;
}
nav .middleSection ul {
  display: flex;
  gap: 5rem;
  list-style: none;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
}
nav a {
  text-decoration: none;
  color: black;
  padding-bottom: 10px;
  border-bottom: 4px solid rgb(255, 255, 255);
}
nav a:hover {
  border-bottom: 4px solid var(--blue);
}
.rightSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.rightSection button {
  background-color: transparent;
  border: 2px solid black;
  padding: 0.5rem 0.6rem;
  border-radius: 0.2rem;
  cursor: pointer;
  font-weight: 600;
}
.rightSection button:active {
  transform: scale(0.98);
  background-color: var(--blue);
  color: white;
}
.container {
  width: 350px;
  height: auto;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 1rem;
}
.container .header {
  text-align: center;
}
.container .header p {
  color: rgb(107, 114, 128, 1);
}
.container span {
  color: var(--blue);
}
.inputs {
  display: flex;
  flex-direction: column;
}
.inputs label {
  display: block;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 0.4rem;
}
.inputs input {
  padding: 0.7rem 0rem;
  padding-left: 0.4rem;
  width: 100%;
  font-size: 1rem;
  border: 0.5px solid rgb(107, 114, 128, 1);
  border-radius: 5px;
}
.inputs input:focus {
  outline: none;
  border: 2px solid var(--blue);
}
.header {
  text-align: center;
}
.qr {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed rgb(200, 200, 200);
  border-radius: 5px;
  padding: 0.5rem;
}
.qr img {
  height: 200px;
  transition: 1s ease-in;
}
.btn {
  display: flex;
  justify-content: center;
}
.btn button {
  background-color: var(--blue);
  color: white;
  width: 100%;
  padding: 0.5rem 0rem;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 5px;
}
.btn button:active {
  transform: scale(0.98);
  background-color: #2e25dc;
}
.error {
  animation: shake 0.1s linear 10;
}
@keyframes shake {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0px);
  }
}
